<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>adopteUneCit</display-name>
  
  <servlet>
    <servlet-name>formThemes</servlet-name>
    <jsp-file>/WEB-INF/vue/jeu/citation/themes.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>formThemes</servlet-name>
    <url-pattern>/themescitations</url-pattern>
  </servlet-mapping>
</web-app>